.Vue-Toastification__toast {
  font-family: "Poppins", sans-serif !important;
  border-radius: 2px !important;
  padding: 16px !important;
  background-color: #171717 !important;
  border: 1px solid #262626 !important;
  color: #e5e5e5 !important;
  align-items: center !important;
}

.Vue-Toastification__toast--success {
  border-left: 4px solid #22c55e !important;
  box-shadow: 0 0 15px rgba(34, 197, 94, 0.15) !important;
  background: linear-gradient(
    90deg,
    rgba(34, 197, 94, 0.05) 0%,
    rgba(23, 23, 23, 1) 100%
  ) !important;
}
.Vue-Toastification__toast--success .Vue-Toastification__icon {
  color: #22c55e !important;
}

.Vue-Toastification__toast--error {
  border-left: 4px solid #ef4444 !important;
  box-shadow: 0 0 15px rgba(239, 68, 68, 0.15) !important;
  background: linear-gradient(
    90deg,
    rgba(239, 68, 68, 0.05) 0%,
    rgba(23, 23, 23, 1) 100%
  ) !important;
}
.Vue-Toastification__toast--error .Vue-Toastification__icon {
  color: #ef4444 !important;
}

.Vue-Toastification__toast--warning {
  border-left: 4px solid #eab308 !important;
  box-shadow: 0 0 15px rgba(234, 179, 8, 0.15) !important;
  background: linear-gradient(
    90deg,
    rgba(234, 179, 8, 0.05) 0%,
    rgba(23, 23, 23, 1) 100%
  ) !important;
}
.Vue-Toastification__toast--warning .Vue-Toastification__icon {
  color: #eab308 !important;
}

.Vue-Toastification__toast--info {
  border-left: 4px solid #3b82f6 !important;
  box-shadow: 0 0 15px rgba(59, 130, 246, 0.15) !important;
  background: linear-gradient(
    90deg,
    rgba(59, 130, 246, 0.05) 0%,
    rgba(23, 23, 23, 1) 100%
  ) !important;
}
.Vue-Toastification__toast--info .Vue-Toastification__icon {
  color: #3b82f6 !important;
}

.Vue-Toastification__progress-bar {
  background-color: rgba(255, 255, 255, 0.2) !important;
  bottom: 0 !important;
  height: 2px !important;
}

.Vue-Toastification__close-button {
  color: #a3a3a3 !important;
  opacity: 0.7 !important;
  font-weight: 300 !important;
}

.Vue-Toastification__close-button:hover {
  color: #ffffff !important;
  opacity: 1 !important;
}

.Vue-Toastification__icon {
  width: 24px !important;
  height: 24px !important;
  margin-right: 12px !important;
}
