@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&family=Rubik+Doodle+Shadow&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(
    to left top,
    #f4ff00,
    #efba0f,
    #ce7e2b,
    #9a4e32,
    #5b2b2a,
    #40222d,
    #241a23,
    #0f0f0f,
    #161616,
    #1c1c1c,
    #232323,
    #292929
  );
  background-position: center;
  background-size: 100% 100%;
  color: white;
}
