@import url("https://fonts.googleapis.com/css2?family=Popins:wght@300;400;500;600;700&display=swap");

* {
  padding: 0px;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  padding-top: 80px;
  font-family: "Popins", sans-serif;
  background: #0a0a0a;
  color: #d4d4d8;
}
